.hero {
  position: relative;
  min-height: calc(100vh - 88px);
  padding-top: 0;
}

.hero-left {
  background-color: var(--light-blue);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem 3rem 2rem 3rem;
  border-right: 2px solid var(--blue);
}

.hero-left-content {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-title {
  font-size: clamp(2.4rem, 3vw, 5rem);
  line-height: 0.94;
  letter-spacing: -0.02em;
  margin-bottom: 1.6rem;
  max-width: 500px;
}

.hero-subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2.3rem;
  opacity: 0.8;
  line-height: 1.5;
  max-width: 440px;
}

.hero-right {
  background-color: #efefef;
  position: relative;
  overflow: hidden;
  margin-bottom: -22vh;
}

.hero-image-wrapper {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 0;
}

.hero-img {
  width: 100%;
  max-width: 900px;
  height: 100%;
  object-fit: cover;
  object-position: center 15%;
  filter: grayscale(100%);
  transform: scale(1.05);
}

.lightning-bolt {
  position: absolute;
  top: 23%;
  left: 12%;
  transform: translateX(-50%);
  z-index: 10;
  width: 76px;
  height: 96px;
  pointer-events: none;
}

.lightning-bolt svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .hero {
    min-height: auto;
  }
  .hero-left {
    padding: 6rem 2rem 4rem;
    border-right: none;
    border-bottom: 2px solid var(--blue);
  }
  .hero-right {
    min-height: 50vh;
  }
  .hero-left-content {
    align-items: center;
    text-align: center;
  }
  .hero-title {
    text-align: center;
  }
  .hero-subtitle {
    text-align: center;
  }
}
